#logo img{
    width:100px;
    height:150px;
}
#logo,.titulo{
    text-align:center;
}
.titulo {
    text-shadow: 5px 5px 5px #aaa;
}
form div{
    text-align:center;
}
#titulo{
    text-align:center;
}
#imag{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
}
#mostrarDatos{
    margin: 0 auto;
    text-align: center;
}